@{

    ViewData["Title"] = "Acceso Denegado";
    bool hayReturnUrl = !string.IsNullOrEmpty(ViewBag.ReturnUrl);

}

<head>

<link rel="stylesheet" href="~/css/site.css" />
<link rel="icon" href="~/Images/logo.png" type="image/x-icon" />

</head>


<div class="text-center text-secondary" style="background-color: #A1E8CC">


    <h1> No cuenta con los permisos suficientes @if (hayReturnUrl) {<span> para acceder a  @ViewBag.ReturnUrl </span>} </h1>

    <a class="align-content-center" asp-action="CerrarSesion"> <img src="~/Images/logoWarning.png" alt="Logo" height="200" /> </a>


    <div>  <a asp-action="CerrarSesion"> Cerrar sesion </a> </div>


</div>