@model Historias_C.Models.Epicrisis

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Epicrisis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EpisodioId" class="control-label">Episodio ID:</label>
                <select asp-for="EpisodioId" class ="form-control" asp-items="ViewBag.EpisodioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label">Medico ID:</label>
                <select asp-for="MedicoId" class ="form-control" asp-items="ViewBag.MedicoId "></select>
            </div>
            <div class="form-group">
                <label asp-for="fechaYHora" class="control-label">Fecha/Hora:</label>
                <input asp-for="fechaYHora" class="form-control" />
                <span asp-validation-for="fechaYHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticoId" class="control-label">Diagnostico ID:</label>
                <select asp-for="DiagnosticoId" class ="form-control" asp-items="ViewBag.DiagnosticoId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista.</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
