@model Historias_C.Models.Episodio

@{
    ViewData["Title"] = "Create";
}

<h1>Crear episodio.</h1>

<h4>Indique el motivo y la descripcion del mismo.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <input asp-for="FechaYHoraInicio"  hidden />
            <input asp-for="EstadoAbierto" hidden/> 

            <div class="form-group" hidden>
                <label asp-for="HistoriaClinicaId" class="control-label"></label>
                <input asp-for="HistoriaClinicaId" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
