@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Mensaje != null)
{
    <h2 class="text-secondary">@ViewBag.Mensaje</h2>
}

<div class="text-center">
    <h1 class="display-5" style="color: dimgrey;">Bienvenido a la clinica ORTopedic!</h1>
    <p style="color: dimgrey">Nos encontramos en Av Libertador al 1500</p>
    <p style="color: dimgrey">¡¡¡Veni a atenderte!!!</p>
</div>
